<header class="navigation" role="banner">
  <a class="wcag-link" href="#main">Skip to the main content</a>
  <div class="navigation-wrapper">
    <a href="{{ site.baseurl }}/" class="logo">
      {% if site.logo %}
      <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
      {% else %}
      <span>{{ site.title }}</span>
      {% endif %}
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
      <i class="fa fa-bars"></i>
    </a>
    <nav role="navigation" aria-label="Main Menu" id='main-menu'>
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="{{ site.baseurl }}/">Blog</a>
        <li class="nav-link"><a href="https://www.dddeastmidlands.com" target="_blank">DDDEM Website</a>
          {% for social in site.social %}
          {% if social.url != null %}
          <li class="nav-link"><a href="{{ social.url }}" title="{{ social.desc }}" target="_blank"><i class="fab fa-{{ social.icon }}"></i></a>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
