name: Build

permissions:
  contents: read

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: [ '3.2' ]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Node.js 20.x
      uses: actions/setup-node@v6
      with:
        node-version: 20.x
        cache: 'npm'
    - name: Set up Ruby ${{ matrix.ruby-version }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true

    - name: Install Packages
      run: |
        npm run install-jekyll

    - name: Build Jekyll
      working-directory: ./site
      run: |
        bundle exec jekyll build
